{% if products|length > 0 %}
    <h2>
        {{ 'sylius_personalized_products.ui.title.recommend'|trans }}
    </h2>
    <div class="products">
        {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': products} %}
    </div>
{% endif %}